@page
@using RazorPizzeria.Models
@using System.Text
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
}

<h1>Verify Your Order:</h1>

<hr />
<div class="align-content-center text-center">

    @if (@Model._currentOrder.Pizzas.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Pizza</th>
                    <th>Toppings</th>
                    <th>Price</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pizza in @Model._currentOrder.Pizzas.Select((value, i) => new { i, value }))
                {
                    <tr>
                        <td>@pizza.value.PizzaName</td>
                        <td>@getToppings(@pizza.value)</td>
                        <td>$@pizza.value.FinalPrice</td>
                        <td>
                            <form asp-page-handler="view" method="post">
                                <button class="btn btn-myButtonDelete">Remove Pizza</button>
                                <input name="removePizzaIndex" value="@pizza.i" hidden />
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <th>Order Total: $@Model._OrderTotal</th>
                </tr>

            </tbody>
        </table>

        <div style="display:flex; align-items:stretch; text-align:center; justify-content:space-evenly; width:50%; transform: translate(50%, 0);">
            
                <a class="btn btn-myButtonRed mt-1" style="padding:1.5% 1%;" asp-area="" asp-page="/Pizza">Add More Pizza!<br /> </a>
            
                <a class="btn btn-myButtonGreen mt-1" asp-area="" asp-page="/Checkout/ThankYou">Submit Order!<br /> It's Pizza Time!</a>
            
        </div>
    }

    else
    {
        <h3>Oh no! Your cart's empty.</h3>
        <h3>Let's add some pizza first:</h3>
        <a class="btn btn-myButtonRed mt-1" asp-area="" asp-page="/Pizza">Add Pizza now!</a>
    }

</div>

@{
    string getToppings(PizzasModel pizza)
    {
        List<string> Toppings = new List<string>();



        if (pizza.HasPizzaSauce) Toppings.Add("Pizza Sauce");
        if (pizza.HasCheese) Toppings.Add("Cheese");
        if (pizza.HasPepperoni) Toppings.Add("Pepperoni");
        if (pizza.HasBeef) Toppings.Add("Beef");
        if (pizza.HasHam) Toppings.Add("Ham");
        if (pizza.HasMushroom) Toppings.Add("Mushroom");
        if (pizza.HasPineapple) Toppings.Add("Pineapple");
        if (pizza.HasTuna) Toppings.Add("Tuna");

        string topList = String.Join(',', Toppings);
        return topList;
    }

    string getImagePath(PizzasModel pizza)
    {
        var imagePath = "~/images/Pizzas/" + @pizza.PizzaName + ".png";
        return imagePath;
    }
}