@page
@model RazorPizzeria.Pages.OrdersModel
@{
}

<h3>Orders</h3>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>OrderNumber</th>
            <th>Customer</th>
            <th>Pizza Name</th>
            <th>Price</th>
            <th>Order Placed</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in @Model.PizzaOrders)
        {
            
            <tr>
                <td>@order.Id</td>
                <td>@order.CustomerID</td>
                <td>Pizzas: <br>
                    @foreach(var pizza in @order.Pizzas)
                    {
                        <span>@pizza.PizzaName Price: @pizza.PizzaName</span>
                    }
                </td>
                <td>@order.OrderDate.ToLocalTime()</td>
            </tr>
        }

    </tbody>
</table>
